[FORMAT]
indent-string=\t

[MESSAGES CONTROL]
disable=missing-docstring,bad-continuation,invalid-name,too-few-public-methods,bad-whitespace,multiple-statements,multiple-imports,inconsistent-return-statements