a { text-underline-offset: 0.25em; color: #62A; }
a.active { color: inherit; font-weight: bold; }
img { display: block; max-width: 100%; }
.fullwidth { margin: 0 -10px; max-width: calc(20px + 100%); }
li, blockquote { margin-left: 1em; }
hr, article+article { border: none; border-top: 1px solid #bbb; }
code { white-space: pre-wrap; }
figure, body, img, figcaption { margin: auto; }
figcaption { margin-top: 0.5em; max-width: 75%; font-style: oblique; }
blockquote { padding-left: 1em; border-left: 1px solid #bbb; }
header, figcaption, nav { text-align: center; }
header > p { text-align: initial; }
article p, ul, h1 { margin: 0; }
nav { margin: 1em -10px; }
nav a { padding: 0.5em }
.data { color: #999; }
.slide { white-space: nowrap; overflow: auto; }
.slide img, h1 img { display: inline; }
.hide { display: none; }
body > *+* { padding-top: 2em; }
article+article { padding-top: 1em; margin-top: 1em; }
article h1 { font-size: inherit; }
article .data { font-size: 75%; margin: 0.5em 0 0 1em; float: right; }
header h1 img { width: 1em }
header > a > img { width: 160px; height: 160px; border-radius: 50%; }
html
	{ background: url("/pics/texture.png"), linear-gradient(to top, #3d2e3b, #766173);
	background-position: top center; }
body
	{ padding: 10px;
	line-height: 1.5em;
	max-width: 620px;
	font-family: sans-serif;
	font-size: 16px;
	word-wrap: break-word;
	color: #444;
	background-color: #eee;
	min-height: calc(100vh - 20px); }
.imgtxt { position: relative; margin: 0 -10px; }
.imgtxt :is(h1, h2, h3)
	{ font-variant: small-caps;
	font-size: 150%;
	color: white;
	position: absolute;
	bottom: 0; left: 0; right: 0;
	padding: 1em 0.5em 0.5em 0.5em;
	margin: 0;
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5)); }
