<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="url" content="https://vas.neocities.org"/>
	<meta name="author" content="Vas"/>
	<meta name="description" content="Vas' reviews and other stuff"/>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="icon" href="/favicon.ico?v=2"/>
	<link rel="alternate" href="/rss.xml" type="application/rss+xml"/>
	<title>Vas' reviews and other stuff</title>
</head>
<body id="frontpage">
<a href="/"><img alt="website banner" class="icon" src="/pics/ruri_icon.jpg"/></a>
<header>
	<h1>Vas' reviews and other stuff <a href="/rss.xml"><img class="emoji" src="/pics/feed-icon.svg" alt="feed icon"/></a></h1>
	<nav>
		<a href="/articles/recommendations.html">Recommendations</a>
		<a href="https://archiveofourown.org/users/theway">AO3</a>
	</nav>
</header>
<section id="about">
	Hello, world. I am Vas, and this is my private playground on the web, courtesy of <a href="https://neocities.org">Neocities</a>. There are no comments, but you can get in touch through <a href="mailto:whiterocket@outlook.com">email</a> and <a href="xmpp:vaas@xmpp.jp">xmpp</a>. If you like 🍆, you can find lewd things over at <a href="https://archiveofourown.org/users/theway">AO3</a>.
</section>
{{BODY}}
</body>
</html>
