{% extends "base.html" %} 
{% block body %}
<body id="frontpage">
<a href="/"><img alt="website banner" id="banner" src="/pics/banner.jpg"/></a>
<header>
	<h1>{{conf["site"]}} <a href="/rss.xml"><img class="emoji" src="/pics/feed-icon.svg" alt="feed icon"/></a></h1>
	{% if conf["links"] %}
		<nav>
			{% for item in conf["links"] %}
				<a href="{{item.link}}">{{item.title}}</a>
			{% endfor %}
		</nav>
	{% endif %}
</header>
<section id="about">
	{{conf["about"]}}
</section>
<main>
{% if prev or next %}
	<nav>
		{% if prev %}
			<a href="{{prev}}">← Older</a>
		{% endif %}
		{% if next %}
			<a href="{{next}}">Newer →</a>
		{% endif %}
	</nav>
{% endif %}
{% for item in items %}
	<article data-post-type="{{item.type.lower()}}">
		<header>
			<img alt="emoji" class="emoji" src="/pics/{{item.type.lower()}}.svg"/>
			<strong>{{item.type}}</strong>
			<data class="date" value="{{item.ctime}}">{{item.ctimeymd}}</data>
		</header>
		{% if item.title %}
			<h1><a href="{{item.href}}">{{item.title}}</a></h1>
		{% endif %}
		{{item.blurb}}
	</article>
{% endfor %}
</main>
</body>
{% endblock %}
