<!DOCTYPE html>
<html lang="en-gb">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="url" content="https://vas.neocities.org"/>
	<meta name="author" content="Vas"/>
	<meta name="description" content="A blog on technology, nerddom, and politics. Intentionally edgy; don't take things too seriously."/>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="icon" href="/favicon.ico?v=2"/>
	<link rel="alternate" href="/rss.xml" type="application/rss+xml"/>
	<title>Vas' Website</title>
</head>
<body id="frontpage">
<a href="/"><img alt="website banner" id="banner" src="/pics/banner.jpg"/></a>
<header>
	<h1>Vas' Website <a href="/rss.xml"><img class="emoji" src="/pics/feed-icon.svg" alt="feed icon"/></a></h1>
	<nav>
		<a href="/articles/">Articles</a>
		<a href="/apps/">Apps</a>
		<a href="/articles/aboutme.html">About&nbsp;me</a>
		<a href="/articles/devices.html">Devices</a>
		<a href="/articles/testimonials.html">Testimonials</a>
	</nav>
</header>
<section id="about">
	Hello, world. I am Vas, and this is my private playground on the web, courtesy of <a href="https://neocities.org">Neocities</a>. I'm a little edgelord over here, so don't take it too seriously.
</section>
{{BODY}}
<footer>There are no comments yet, but you can <a href="/articles/aboutme.html">get in touch through email and XMPP</a></footer>
</body>
</html>
