{% extends "base.html" %} 
{% block body %}
<body>
<main>
<nav>
	{% if prev %}
		<a href="{{prev}}">← Older</a>
	{% endif %}
	<a href="../">↑ Up</a>
	{% if next %}
		<a href="{{next}}">Newer →</a>
	{% endif %}
</nav>
{% for item in items %}
	<article>
		<data class="date" value="{{item.ctime}}">{{item.ctimeymd}}</data>
		{% if item.title %}
			<h1>
				{% if item.type != "Note" %}
					<img alt="emoji" class="emoji" src="/pics/{{item.type.lower()}}.svg"/>
					<a href="/{{item.type.lower()}}s/">{{item.type}}</a> /
				{% endif %}
				<a href="{{item.href}}">{{item.title}}</a>
			</h1>
		{% endif %}
		{{item.blurb}}
	</article>
{% endfor %}
</main>
{% include 'footer.html' %}
</body>
{% endblock %}
