{% extends "base.html" %} 
{% block body %}
<body>
<main>
<header>
	<a href="/">{{conf.site}}</a><data value="{{items[0].ctime}}">{{items[0].ctimeymd}}</data>
</header>
{% if prev or next %}
	<nav>
		{% if prev %}
			<a href="{{prev}}">← Older</a>
		{% endif %}
		{% if next %}
			<a href="{{next}}">Newer →</a>
		{% endif %}
	</nav>
{% endif %}
{% for item in items %}
	<article data-post-type="{{item.type.lower()}}">
		<header>
			<img alt="emoji" class="emoji" src="/pics/{{item.type.lower()}}.svg"/>
			<strong>{{item.type}}</strong>
			<data class="date" value="{{item.ctime}}">{{item.ctimeymd}}</data>
		</header>
		{% if item.title %}
			<h1><a href="{{item.href}}">{{item.title}}</a></h1>
		{% endif %}
		{{item.blurb}}
	</article>
{% endfor %}
</main>
</body>
{% endblock %}
