{% extends "base.html" %} 
{% block body %}
<body class="index">
<header>
	<img alt="website icon" id="icon" src="/pics/icon.jpg"/>
	<h1>{{conf["site"]}} <a href="/rss.xml"><img class="emoji" src="/pics/feed-icon.svg" alt="feed icon"/></a></h1>
	{% if conf["links"] %}
		<nav>
			{% for item in conf["links"] %}
				<a href="{{item.link}}">{{item.title}}</a>
			{% endfor %}
		</nav>
	{% endif %}
</header>
<section id="about">
	{{conf["about"]}}
</section>
<section id="blog">
{% if href_prev or href_next %}
	<nav>
		{% if href_prev %}
			<a href="{{util.url_nohost(href_prev)}}">← Older</a>
		{% endif %}
		{% if href_next %}
			<a href="{{util.url_nohost(href_next)}}">Newer →</a>
		{% endif %}
	</nav>
{% endif %}
{% for item in items %}
	<article data-post-type="{{item.type.lower()}}">
		<header>
			<img alt="emoji" class="emoji" src="/pics/{{item.type.lower()}}.svg"/>
			<strong>{{item.type}}</strong>
			<data class="date" value="{{item.ctime}}">{{util.stamp_to_ymd(item.ctime)}}</data>
		</header>
		{% if item.title %}
			<h1><a href="{{item.href}}">{{item.title}}</a></h1>
		{% endif %}
		{{item.blurb}}
	</article>
{% endfor %}
</section>
</body>
{% endblock %}
